$transition: 0.4s;

.fade {
	will-change: opacity;
	animation: fade $transition ease-in forwards;

	&-right {
		will-change: opacity, transform;
		animation: fade-right $transition ease-in forwards;
	}

	&-left {
		will-change: opacity, transform;
		animation: fade-left $transition ease-in forwards;
	}

	&-down {
		will-change: opacity, transform;
		animation: fade-down $transition ease-in forwards;
	}

	&-up {
		will-change: opacity, transform;
		animation: fade-up $transition ease-in forwards;
	}
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
};
@keyframes fade-right{
    0%{
        transform: translateX(-10px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
};
@keyframes fade-left{
    0%{
        transform: translateX(10px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
};
@keyframes fade-down{
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
};
@keyframes fade-up{
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
};